<% flash.clear %>
<% provide(:title, "Welcome") %>
<div class="center jumbotron">
  <h1>Welcome to Afterthoughts</h1>
<%if logged_in? && !!current_user%>
<%else%>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<%end%>
</div>
<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>What is Afterthoughts?</h1>
        <h2>
          Afterthoughts is a calendar app that allows you to add an "afterthought" to your events.
        </h2>
        <h1>What can I add to an afterthought?</h1>
        <h2>Who was actually there?</h2>
        <h2>What time did it actually start?</h2>
        <h2>What time did it actually end?</h2>
        <h2>Thoughts about the event</h2>
        <h2>Your rating of the event, from awful to awesome</h2>
      </div>
    </div>
  </div>
</div>
