<% @user_afterthoughts.each do |afterthought| %>
  <div class="each_afterthought">
    <div class="afterthought_title">
      <%= link_to afterthought.event.title, afterthought %><br>
    </div>
  </div>

<% end %>