<% @thing = @calendar %>

<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>New Calendar</h1>
        <%= bootstrap_form_for(@calendar, layout: :horizontal) do |f| %>
          <%= f.text_field :name, label_col: "col-sm-2", control_col: "col-sm-10" %>
          <%= f.hidden_field(:user_id, :value=>@user.id) %>
          <%= f.submit "Create Calendar", class: "btn btn-primary create" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
