/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_calendar
 */


 /*bootstrap calendar*/
*= require simple_calendar

@import "bootstrap-sprockets";
@import "bootstrap";


/* flash messages */
.flash_message {
  padding: 10px;
  margin: 10px;
}

 body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  /* background:#6ab446; */
  border-radius: 0px;
  background: #84a9b9;
  border-left-style: outset;
  border-left-color: #B6CDD6;
  border-left-width: 10px;
  box-shadow: 2px 2px 2px lightgrey;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  width:auto;
  height:auto;
}

/*--- calendar CSS located in calendars.scss ---*/

