/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_calendar
 */


 /*bootstrap calendar*/
*= require simple_calendar
*= require bootstrap-datepicker
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

 body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/

.navbar {
  background: #84a9b9;
  box-shadow: 2px 2px 2px lightgrey;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 10px;
  padding-right: 20px;
}

nav .navbar-nav li a {
  padding-top: 25px;
  color: white !important;
  }

nav .navbar-nav li a:hover {
  color: gray !important;
  }



/*--- calendar CSS located in calendars.scss ---*/


/* .date_selector {
  margin: 0px;
  border: 0px;
  padding: 0px;
  display: block;
  width: 100px;
} */
