// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* calendar */

/*not working, but i think its the right general idea*/
.flash_message {
  padding: 10px;
  margin: 10px;

}
.add_calendar {
  padding: 10px;
  margin: 10px;
}

.collapse_button {
  padding: 3px;
  margin: 10px;
  border-radius: 3px;
  border-color: #84A9B7;
  border-style: outset;
  background-color: #B5E9FF;
  box-shadow: 1px 1px 1px lightgrey;
  font-family: 'Rubik', sans-serif;
}
.collapse_button:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #69D2FF;

}

.calendar_collapsible {
  padding: 5px;
  // display: none;
}
.link_to_add_event {

}

.date_number {
  margin-top: -10px;

}

.button_to_event {
  background-color: #B5E9FF;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  margin: 10px;
  padding: 0px;
  box-shadow: 1px 1px 1px black;

}
.button_to_event:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #84a9b9;


}

.user_name {
  font-family: 'Rubik', sans-serif;
  padding-left: 10px;
}

.calendar_name {
  margin: 10px;
  font-family: 'Rubik', sans-serif;

}


.calendar-heading {
  padding: 5px;
  margin: 5px;

}

.calendar-title {
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;

  padding: 5px;
  margin: 5px;
}
.full_calendar {
  margin: 20px;
  padding: 10px;
  border-style: solid;
  border-color: #84A9B7;
  border-width: thin;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
}

.simple-calendar {

  // day above each calendar columns
  .day_display {
    text-align: center;
    background-color: #84a9b9;
    border-style: solid;
    border-width: thin;
    border-color: #7f7f7f;
    // border-top-right-radius: 5px;
    // border-top-left-radius: 5px;
  }
  .day {
    width: 100px;
    max-width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #7f7f7f;
  }

  .day:hover {
    background-color: #B5E9FF;
  }


  .wday-0 {


  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #B5E9FF;
  }
  .past {}
  .future {}

  .start-date {

  }

  .prev-month {
    background-color: #B6CDD6;
  }
  .next-month {
    background-color: #B6CDD6;
  }
  .current-month {
    /*background-color: #FFF;*/
  }

  .event {
    background-color: red;
  }

  .has-events {
    // this is showing up on every calendar for the user at the moment
    background-color: #69D2FF;
  }
}